@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  background-color: #0a0b10;
  color: #e2e8f0;
  font-family: 'Inter', sans-serif; 
}

.font-code {
  font-family: 'Fira Code', monospace; 
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0b10;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #289f91;
}